{% extends 'spinchannel/layouts/base.html' %}

{% block content %} {% endblock content %}

{% block script %}
<html>
    <head>
        <a href="{% url 'authentication:log_out' %}">Log out</a>
        <p> {{ user.username|escape }}</p>
       
    </head>
    <body>
        <div align="center">
            <h1> Darius Wheel  - Place Stake and Win Real Money</h1>

            <!-- <p>Here is an example of a code-drawn Wheel of Fortune looking wheel which spins to a stop with the prize won alerted to the user.</p>
            <br />
            
    
            <br /> 
            <p>Choose a power setting then press the Spin button. You will be alerted to the prize won when the spinning stops.</p> -->
            <script> 
                // var count;
                // document.write("Starting Loop",+"<br/>");
                // for (count=0;count<10;count++) {
                //     document.write("Current Count:"+count);
                // }
                // document.write("Loop Stopped")
                tim =new Date
                
                document.write(tim.getMinutes())
                document.write(tim.getSeconds())
    
                // document.write('12'[1])
           
    
                            
                </script>
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <div class="power_controls">
                        <br />
                        <br />
 
                        <br />
                        <img id="spin_button" src="+" alt="Spin" onClick="startSpin();" />
                        <br /><br />
                        &nbsp;&nbsp;<a href="#" onClick="resetWheel(); return false;">Play Again</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(reset)
                    </div>
                </td>
                <td width="438" height="582" class="the_wheel" align="center" valign="center">
                    <canvas id="canvas" width="434" height="434">
                        <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                    </canvas>
                </td>
            </tr>
        </table>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="serverSpin">
        <script>
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                // + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                
                const data = JSON.parse(e.data);
             
                startSpinB(13);
                
                document.querySelector('#chat-log').value += (data.message + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('spin socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            };

            // Create new wheel object specifying the parameters at creation time.
            let theWheel = new Winwheel({
                'outerRadius'     : 212,        // Set outer radius so wheel fits inside the background.
                'innerRadius'     : 75,   
               // 'responsive'      : true, // Make wheel hollow so segments don't go all way to center.
                'textFontSize'    : 24,         // Set default font size for the segments.
                'textOrientation' : 'vertical', // Make text vertial so goes down from the outside of wheel.
                'textAlignment'   : 'outer',    // Align text to outside of wheel.
                'numSegments'     : 28,         // Specify number of segments.
                'segments'        :             // Define segments including colour and text.
                [                               // font size and test colour overridden on backrupt segments.

                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},

                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},

                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#ffffff', 'text' :  'AVARAGE', 'textFontSize' : 16, 'textFillStyle' : '#00000'},// WHITE
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},

                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},

                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},                  
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},

                   {'fillStyle' : '#ee1c24', 'text' : '600'},
                   {'fillStyle' : '#fff200', 'text' : '450'},
                   
                   {'fillStyle' : '#000000', 'text' : 'BLACK HOLE', 'textFontSize' : 12, 'textFillStyle' : '#ffffff'},
                   

                ],
                'animation' :           // Specify the animation to use.
                {
                    'type'     : 'spinToStop',
                    'duration' : 15,    // Duration in seconds.
                    'spins'    : 6,     // Default number of complete spins.
                    // 'callbackFinished' : alertPrize,
                    'callbackSound'    : playSound,   // Function to call when the tick sound is to be triggered.
                    'soundTrigger'     : 'pin'        // Specify pins are to trigger the sound, the other option is 'segment'.
                },
                'pins' :				// Turn pins on.
                {
                    'number'     : 28,
                    'fillStyle'  : 'silver',
                    'outerRadius': 4,
                }
            });

            // Loads the tick audio sound in to an audio object.
            let audio = new Audio('/static/users/sounds/tick.mp3');

            // This function is called when the sound is to be played.
            function playSound()
            {
                // Stop and rewind the sound if it already happens to be playing.
                audio.pause();
                audio.currentTime = 0;

                // Play the sound.
                audio.play();
            }

            // Vars used by the code in this page to do power controls.
            let wheelPower    = 10;
            let wheelSpinning = false;

     
            function startSpin()
            {
                // Stop any current animation.
                theWheel.stopAnimation(false);
                // Reset the rotation angle to less than or equal to 360 so spinning again
                // works as expected. Setting to modulus (%) 360 keeps the current position.
                theWheel.rotationAngle = 0;//theWheel.rotationAngle % 360;
                // Start animation.
                theWheel.startAnimation();
     
            }

            function startSpinB(seg){
                theWheel.stopAnimation(false);
                theWheel.rotationAngle = 0;
                segmentNumber = seg;
                let stopAt = theWheel.getRandomForSegment(segmentNumber);
                theWheel.animation.stopAngle = stopAt;

                theWheel.startAnimation();
                
                }

        </script>
    </body>
</html>


{% endblock script %}
