{% extends 'website/layout.html' %}

{% block additional_javascript %}

<script>
    vue_latest_messages = {{ latest_messages_json|safe }};
</script>

{% endblock %}

{% block content %}

<div class="row" >
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1 class="text-center">Shoutbox</h1>
		{% if logout %}
        	<p>Only logged user can shout!</p>
    	{% endif %}
		<div class="input-group">
			<input type="text" id="message-text" v-model="shoutbox_message" v-on:keyup.enter="send_message()" name="message-text" class="form-control" placeholder="Shout something...">
            <span class="input-group-btn">
                <button v-on:click="send_message()" id="send_message_button" class="btn btn-primary ml-2">Send Message</button>
            </span>
		</div>
	</div>
</div>
<div class="row" >
	<hr>
</div>
<div class="row" >
	<div class="col-md-2"></div>
	<div class="col-md-8 message-container">
		<ul class="list-group  border-dark rounded" >
            <div v-for="message in latest_messages">
            	<h1 v-bind:class="{
                	'text-dark lead font-weight-bold text-left': message.user_id__username == username,
                	'text-dark lead font-weight-bold text-right': message.user_id__username != username,
            	}">
                    <span class="p-2">[[ message.user_id__username ]]</span>
                </h1>
				<p class="text-dark">[[ message.text ]]</p>
				<hr/>
            </div>
		</ul>
	</div>
</div>

{% endblock %}
