
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="darius.com" class="nav-link">
             Daru Wheel for Real Cash
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="github/gideongibeon">Daru & Co</a>
         - coded by <a target="_blank" href="github/gideongibeon">gideongibeon</a>.
      </div>
    </div>
  </footer>
